{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content is-flex">

            <div class="column is-half">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="/images/mon_avatar.png">
                </figure>
                
            </div>
            <div class="column is-half is-size-4 ">
                Bonjour, je suis Léo Mosse, je suis en BUT informatique et vous vous trouvez sur mon e-portfolio !
                Vous pourrez y trouver mes projets ! ☺
            </div>
        </div>
    </div>
</div>
{{ end }}